<div class="slim-navbar slim-navbar-sub">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['add']">
        <i class="icon ion-md-add-circle text-success"></i>
        <span>dodaj nowego klienta</span>
      </a>
    </li>
  </ul>
</div>


<div class="section-wrapper">
  <div class="filters">
    <div class="form-row">
      <div class="form-group col">
        <label>Numer faktury</label>
        <input type="text" class="form-control form-control-sm" placeholder="Numer faktury">
      </div>
      <div class="form-group col">
        <label>Kontrahent</label>
        <input type="text" class="form-control form-control-sm" placeholder="Nazwa kontrahenta">
      </div>
      <div class="form-group col">
        <label>Status</label>
        <select class="form-control form-control-sm">
          <option>Wszystkie</option>
          <option>Zapłacone</option>
          <option>Niezapłacone</option>
        </select>
      </div>
    </div>
  </div>

  <p-table [columns]="cols" [value]="customers" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedCustomer"
    (onRowSelect)="onRowSelect($event)" [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords"
    [loading]="loading">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width != null ? col.width + 'px' : 'auto'">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td>
          {{rowData['id']}}
        </td>
        <td>
          {{rowData['name']}} {{rowData['surname']}}
        </td>
        <td>
          {{rowData['zipCode']}} {{rowData['city']}}<br />
          {{rowData['street']}} {{rowData['house']}} {{rowData['flat'] != null ? '/' + rowData['flat'] : ''}}<br />
        </td>
        <td>
          {{rowData['phone']}}
        </td>
        <td>
          {{rowData['pesel']}}
        </td>
        <td>
          {{rowData['nip']}}
        </td>
        <td>
          {{rowData['node']}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
