<div class="slim-navbar slim-navbar-sub">
  <ul class="nav">
    <li class="nav-item">
      <button class="nav-link" (click)="edit()">
        <i class="icon ion-md-add-circle text-success"></i>
        <span>edytuj fakturę</span>
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" (click)="correction()">
        <i class="icon ion-md-add-circle text-success"></i>
        <span>wystaw korektę</span>
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" (click)="cancel()">
        <i class="icon ion-md-add-circle text-success"></i>
        <span>anuluj fakturę</span>
      </button>
    </li>
  </ul>
</div>



<div class="card card-invoice">
  <div class="card-body">
    <div class="invoice-header">
      <h1 class="invoice-title">{{invoice.number}}</h1>
      <div class="billed-from">
        <h6>{{invoice.issuer.nameDisplay}}</h6>
        <p>{{invoice.issuer.addressDisplay}}, {{invoice.issuer.postCode}} {{invoice.issuer.city}}<br>
          <span *ngIf="invoice.issuer.phone">Telefon: {{invoice.issuer.phone}}<br></span>
          <span *ngIf="invoice.issuer.email">Email: {{invoice.issuer.email}}</span>
        </p>
      </div>
    </div>

    <div class="row mg-t-20">
      <div class="col-md">
        <label class="section-label-sm tx-gray-500">Wystawiono na</label>
        <div class="billed-to">
          <h6>{{invoice.purchaser.nameDisplay}}</h6>
          <p>{{invoice.purchaser.addressDisplay}}, {{invoice.purchaser.postCode}} {{invoice.purchaser.city}}<br>
            <span *ngIf="invoice.purchaser.phone">Telefon: {{invoice.purchaser.phone}}<br></span>
            <span *ngIf="invoice.purchaser.email">Email: {{invoice.purchaser.email}}</span>
          </p>
        </div>
      </div><!-- col -->
      <div class="col-md">
        <label class="section-label-sm tx-gray-500">Dane faktury</label>
        <p class="invoice-info-row">
          <span>Numer:</span>
          <span>{{invoice.number}}</span>
        </p>
        <p class="invoice-info-row">
          <span>Data faktury</span>
          <span>{{invoice.invoiceDate | date:'yyyy-MM-dd'}}</span>
        </p>
        <p class="invoice-info-row">
          <span>Data sprzedaży:</span>
          <span>{{invoice.saleDate | date:'yyyy-MM-dd'}}</span>
        </p>
        <p class="invoice-info-row">
          <span>Data płatności:</span>
          <span>{{invoice.paymentDeadlineDate | date:'yyyy-MM-dd'}}</span>
        </p>
      </div><!-- col -->
    </div><!-- row -->

    <div class="table-responsive mg-t-40">
      <table class="table table-invoice">
        <thead>
          <tr>
            <th>Lp.</th>
            <th>Przedmiot</th>
            <th class="text-center">Ilość</th>
            <th class="text-right">Cena jedn.</th>
            <th class="text-right">Netto</th>
            <th class="text-right">Vat</th>
            <th class="text-right">Brutto</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of invoice.invoiceItems">
            <td>{{item.index}}</td>
            <td>{{item.name}}</td>
            <td class="text-center">{{item.quantity}}</td>
            <td class="text-right">{{item.netUnitPrice | number:'1.2'}}</td>
            <td class="text-right">{{item.net | number:'1.2'}}</td>
            <td class="text-right">{{item.vat | number:'1.2'}}</td>
            <td class="text-right">{{item.gross | number:'1.2'}}</td>
          </tr>

          <tr>
            <td colspan="2" rowspan="4" class="valign-middle">
              <div class="invoice-notes">
                <label class="section-label-sm tx-gray-500">
                  Dodatkowe informacje
                </label>
                <p>
                  
                </p>
              </div>
            </td>
            <td colspan="3" class="text-right">Netto</td>
            <td colspan="2" class="text-right">{{invoice.net | number:'1.2'}}</td>
          </tr>
          <tr>
              <td colspan="3" class="text-right">Vat</td>
              <td colspan="2" class="text-right">{{invoice.vat | number:'1.2'}}</td>
            </tr>
          <tr>
            <td colspan="3" class="tx-right tx-uppercase tx-bold tx-inverse">Brutto</td>
            <td colspan="2" class="tx-right">
              <h4 class="tx-primary tx-bold tx-lato">{{invoice.gross | number:'1.2'}}</h4>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
