
<div class="slim-navbar">
    <div class="container">
      <ul class="nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/">
            <i class="icon ion-md-home"></i>
            <span>Panel</span>
          </a>
        </li>
        <li class="nav-item with-sub" routerLinkActive="active">
          <a class="nav-link" href="#">
            <i class="icon ion-ios-card"></i>
            <span>Finanse</span>
          </a>
          <div class="sub-item">
              <ul>
                <li><a routerLink="/finance/invoices">Fakturowanie</a></li>
                <li><a routerLink="/finance/transfers">Przelewy</a></li>
              </ul>
            </div>
        </li>
        <li class="nav-item with-sub" routerLinkActive="active">
          <a class="nav-link" href="#">
            <i class="icon ion-md-contact"></i>
            <span>Klienci</span>
          </a>
          <div class="sub-item">
              <ul>
                <li><a routerLink="/customer">Lista klientów</a></li>
                <li><a routerLink="/customer">Umowy klientów</a></li>
              </ul>
            </div>
        </li>
        <li class="nav-item with-sub" routerLinkActive="active">
          <a class="nav-link" href="#">
            <i class="icon ion-md-cube"></i>
            <span>Usługi</span>
          </a>
          <div class="sub-item">
              <ul>
                <li><a routerLink="/services">Lista usług</a></li>
              </ul>
            </div>
        </li>
      </ul>
    </div><!-- container -->
  </div><!-- slim-navbar -->