<div class="slim-navbar slim-navbar-sub">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['add']">
        <i class="icon ion-md-add-circle text-success"></i>
        <span>zapisz i wyjdź</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['add']">
        <i class="icon ion-md-add-circle text-primary"></i>
        <span>zapisz</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['add']">
        <i class="icon ion-md-close-circle text-warning"></i>
        <span>anuluj</span>
      </a>
    </li>
  </ul>
</div>

<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item" *ngFor="let tab of tabs">
        <button class="nav-link" [ngClass]="{'active': tab.isActive}" (click)="setTab(tab)">
          {{tab.name}}
          <i class="icon ion-md-alert" *ngIf="tab.isInvalid"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">

      <div class="tab-pane active" [ngClass]="{'active': coreTab.isActive}">
        <div class="form-layout">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Rodzaj klienta:</label>
                <select class="form-control">
                  <option>Osoba fizyczna</option>
                  <option>Firma</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label">Imię:</label>
                <input class="form-control" type="text" name="name" placeholder="Imię klienta">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label">Nazwisko:</label>
                <input class="form-control" type="text" name="lastname" placeholder="Nazwisko klienta">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label">Drugie imię:</label>
                <input class="form-control" type="text" name="surname" placeholder="Drugie imię klienta">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" [ngClass]="{'active': additionalTab.isActive}">
        <div class="form-layout">
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label">Numer PESEL:</label>
                <input class="form-control" type="text" name="name" placeholder="Numer PESEL klienta">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label">Numer NIP:</label>
                <input class="form-control" type="text" name="lastname" placeholder="Numer NIP klienta">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label">Numer dowodu osobistego:</label>
                <input class="form-control" type="text" name="surname" placeholder="Numer dowodu osobistego klienta">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label">Płeć:</label>
                <select class="form-control">
                  <option>Osoba fizyczna</option>
                  <option>Firma</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label">Miejsce urodzenia:</label>
                <input class="form-control" type="text" name="lastname" placeholder="Miejsce urodzenia klienta">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label">Data urodzenia:</label>
                <input class="form-control" type="text" name="surname" placeholder="Data urodzenia klienta">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" [ngClass]="{'active': phoneTab.isActive}">
        <div class="form-layout">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Telefon komórkowy:</label>
                <input class="form-control" type="text" name="name" placeholder="Telefon komórkowy klienta">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Telefon stacjonarny:</label>
                <input class="form-control" type="text" name="lastname" placeholder="Telefon stacjonarny klienta">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Telefon służbowy:</label>
                <input class="form-control" type="text" name="lastname" placeholder="Telefon służbowy klienta">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">FAX:</label>
                <input class="form-control" type="text" name="lastname" placeholder="FAX klienta">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" [ngClass]="{'active': addressTab.isActive}">
        <div class="form-layout">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Ulica:</label>
                <input class="form-control" type="text" name="name" placeholder="Telefon komórkowy klienta">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label">Numer domu:</label>
                <input class="form-control" type="text" name="name" placeholder="Telefon komórkowy klienta">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label">Numer mieszkania:</label>
                <input class="form-control" type="text" name="name" placeholder="Telefon komórkowy klienta">
              </div>
            </div>
            <div class="col-lg-2">
              <div class="form-group">
                <label class="form-control-label">Kod pocztowy:</label>
                <input class="form-control" type="text" name="name" placeholder="Telefon komórkowy klienta">
              </div>
            </div>
            <div class="col-lg-5">
              <div class="form-group">
                <label class="form-control-label">Miejscowość:</label>
                <input class="form-control" type="text" name="lastname" placeholder="Telefon stacjonarny klienta">
              </div>
            </div>
            <div class="col-lg-5">
              <div class="form-group">
                <label class="form-control-label">Poczta:</label>
                <input class="form-control" type="text" name="lastname" placeholder="Telefon stacjonarny klienta">
              </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Gmina:</label>
                  <input class="form-control" type="text" name="name" placeholder="Telefon komórkowy klienta">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Powiat:</label>
                  <input class="form-control" type="text" name="lastname" placeholder="Telefon stacjonarny klienta">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Województwo:</label>
                  <input class="form-control" type="text" name="lastname" placeholder="Telefon stacjonarny klienta">
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
