<div class="slim-navbar slim-navbar-sub">
  <ul class="nav">
    <li class="nav-item">
      <button class="nav-link" (click)="import()">
        <i class="icon ion-md-cloud-download text-success"></i>
        <span>uruchom import przelewów</span>
      </button>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['logs']">
        <i class="icon ion-md-filing text-default"></i>
        <span>logi importów</span>
      </a>
    </li>
    <li class="nav-item">
      <button class="nav-link" (click)="index()">
        <i class="icon ion-md-filing text-default"></i>
        <span>rozpocznij indeksowanie przelewów</span>
      </button>
    </li>
  </ul>
</div>

<div class="section-wrapper">
  <div class="filters">
    <div class="form-row">
      <div class="form-group col">
        <label>Nadawca</label>
        <input type="text" class="form-control form-control-sm" placeholder="Nadawca" name="senderName" [(ngModel)]="filters.senderName" (ngModelChange)="applyFilters()">
      </div>
      <div class="form-group col">
        <label>Tytuł</label>
        <input type="text" class="form-control form-control-sm" placeholder="Tytuł" name="title" [(ngModel)]="filters.title" (ngModelChange)="applyFilters()">
      </div>
      <div class="form-group col">
        <label>Data od</label>
        <div class="form-group">
          <div class="input-group">
            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="dateFromFilter" [(ngModel)]="dateFromFilter" ngbDatepicker #dateFromFilterNg="ngbDatepicker" (ngModelChange)="applyFilters()">
            <div class="input-group-append">
              <button class="btn btn-sm btn-primary" (click)="dateFromFilterNg.toggle()" type="button">
                <i class="icon ion-md-calendar text-default"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col">
        <label>Data do</label>
        <div class="form-group">
          <div class="input-group">
            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="dateToFilter" [(ngModel)]="dateToFilter" ngbDatepicker #dateToFilterNg="ngbDatepicker" (ngModelChange)="applyFilters()">
            <div class="input-group-append">
              <button class="btn btn-sm btn-primary" (click)="dateToFilterNg.toggle()" type="button">
                <i class="icon ion-md-calendar text-default"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col">
        <label>Status</label>
        <select class="form-control form-control-sm" name="hasInvoices" [(ngModel)]="filters.hasInvoices" (ngModelChange)="applyFilters()">
          <option [value]="null">Wszystkie</option>
          <option [value]="true">Zapłacone</option>
          <option [value]="false">Niezapłacone</option>
        </select>
      </div>
    </div>
  </div>

  <p-table [columns]="cols" [value]="transfers" [paginator]="true" selectionMode="single" [(selection)]="selectedTransfer" (onRowSelect)="onRowSelect($event)"
  [lazy]="true" [totalRecords]="totalItems" [rows]="10" (onLazyLoad)="getTransfers($event)" [loading]="loading">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width != null ? col.width + 'px' : 'auto'">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td>
          {{rowData['senderName']}}
        </td>
        <td>
          {{rowData['title']}}
        </td>
        <td class="text-right">
          {{rowData['value'] | number:'1.2'}}
        </td>
        <td class="text-center">
          {{rowData['date'] | date:'yyyy-MM-dd'}}
        </td>
        <td class="text-center" style="font-size: 1.5rem">
          <i *ngIf="rowData['hasInvoice']" class="ion-md-checkmark-circle-outline text-success"></i>
          <i *ngIf="!rowData['hasInvoice']" class="ion-md-close-circle-outline text-danger"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
