<div class="slim-navbar slim-navbar-sub">
  <ul class="nav">
    <li class="nav-item">
      <button class="nav-link" (click)="add()">
        <i class="icon ion-md-add-circle text-success"></i>
        <span>wystaw nową fakturę</span>
      </button>
    </li>
  </ul>
</div>

<div class="section-wrapper">
  <app-invoices-list-core [getOptions]="getOptions" (selectedEvent)="onRowSelect($event)" (fetchDataEvent)="fetchData($event)"></app-invoices-list-core>

  <div class="card card-body mt-3 pb-0 pt-0">
    <div class="row">
      <table class="table">
        <thead>
          <th>Typ</th>
          <th class="text-center">Ilość faktur</th>
          <th class="text-right">Netto</th>
          <th class="text-right">Vat</th>
          <th class="text-right">Brutto</th>
        </thead>
        <tbody>
          <tr>
            <td>Wszystkie</td>
            <td class="text-center">{{invoicesSum.totalCount}}</td>
            <td class="text-right">{{invoicesSum.totalNet | number:'1.2'}}</td>
            <td class="text-right">{{invoicesSum.totalVat | number:'1.2'}}</td>
            <td class="text-right">{{invoicesSum.totalGross | number:'1.2'}}</td>
          </tr>
          <tr>
            <td>Opłacone</td>
            <td class="text-center">{{invoicesSum.paidCount}}</td>
            <td class="text-right">{{invoicesSum.paidNet | number:'1.2'}}</td>
            <td class="text-right">{{invoicesSum.paidVat | number:'1.2'}}</td>
            <td class="text-right">{{invoicesSum.paidGross | number:'1.2'}}</td>
          </tr>
          <tr>
            <td>Nieopłacone</td>
            <td class="text-center" [ngClass]="{ 'text-danger': invoicesSum.noPaidCount > 0 }">
              {{invoicesSum.noPaidCount}}
            </td>
            <td class="text-right" [ngClass]="{ 'text-danger': invoicesSum.noPaidCount > 0 }">
              {{invoicesSum.noPaidNet | number:'1.2'}}
            </td>
            <td class="text-right" [ngClass]="{ 'text-danger': invoicesSum.noPaidCount > 0 }">
              {{invoicesSum.noPaidVat | number:'1.2'}}
            </td>
            <td class="text-right" [ngClass]="{ 'text-danger': invoicesSum.noPaidCount > 0 }">
              {{invoicesSum.noPaidGross | number:'1.2'}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
