<div class="slim-header">
    <div class="container">
      <div class="slim-header-left">
        <h2 class="slim-logo"><a href="index.html">multi-net.eu</a></h2>
      </div><!-- slim-header-left -->
      <div class="slim-header-right">
        <div class="dropdown dropdown-c" ngbDropdown>
          <a href="#" class="logged-user" data-toggle="dropdown" ngbDropdownToggle>
            <img src="http://via.placeholder.com/500x500" alt="">
            <span>Rafał Ples</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu >
            <nav class="nav">
              <a href="#" (click)="logout()" class="nav-link"><i class="icon ion-forward"></i> Wyloguj się</a>
            </nav>
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
      </div><!-- header-right -->
    </div><!-- container -->
  </div><!-- slim-header -->