<div class="section-wrapper">

  <ul class="list-group mb-3">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Import wykonano dnia
      <span class="badge badge-primary badge-pill">{{log.date | date:'yyyy-MM-dd hh:mm:ss'}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Status importu
      <span *ngIf="log.isSuccessful" class="badge badge-success badge-pill">import udany</span>
      <span *ngIf="!log.isSuccessful" class="badge badge-danger badge-pill">import nieudany</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Liczba zaimportowanych przelewów
      <span class="badge badge-primary badge-pill">{{log.transfersCount}}</span>
    </li>
  </ul>

  <div style="white-space: pre-wrap;">
    <pre><code>{{log.message}}</code></pre>
  </div>

</div>
