<div class="section-wrapper mb-4">
  <label class="section-title">
    {{name}}
  </label>
  <div class="row">
    <div class="col">
      <div class="form-group ">
        <label class="form-control-label">Typ:</label>
        <select class="form-control" [(ngModel)]="person.type">
          <option [ngValue]="1">Osoba fizyczna</option>
          <option [ngValue]="2">Firma</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label class="form-control-label">Szukaj dodanej wcześniej osoby:</label>
        <p-autoComplete 
        [(ngModel)]="selectedPerson" 
        [suggestions]="people" 
        (completeMethod)="getPeople($event)" 
        [forceSelection]="true" 
        field="nameDisplay" 
        delay="1000"
        [style]="{'width':'100%'}" 
        [inputStyle]="{'width':'100%'}"
        (onSelect)="onPersonSelect()">
      </p-autoComplete>
      </div>
    </div>
  </div>
  <div class="form-layout form-layout-2">
    <div class="row no-gutters">
      <div class="col-md-4" *ngIf="person.type == 1">
        <div class="form-group">
          <label class="form-control-label">Imię:</label>
          <input class="form-control" type="text" name="firstname" placeholder="Imię" [(ngModel)]="person.name">
        </div>
      </div>

      <div class="col-md-4" *ngIf="person.type == 1">
        <div class="form-group mg-md-l--1">
          <label class="form-control-label">Nazwisko</label>
          <input class="form-control" type="text" name="lastname" placeholder="Nazwisko" [(ngModel)]="person.surname">
        </div>
      </div>

      <div class="col-md-4" *ngIf="person.type == 1">
        <div class="form-group mg-md-l--1">
          <label class="form-control-label">Numer PESEL</label>
          <input class="form-control" type="text" name="pesel" placeholder="Numer PESEL" [(ngModel)]="person.pesel">
        </div>
      </div>

      <div class="col-md-4" *ngIf="person.type == 2">
        <div class="form-group">
          <label class="form-control-label">Nazwa firmy:</label>
          <input class="form-control" type="text" name="companyname" placeholder="Nazwa firmy" [(ngModel)]="person.companyName">
        </div>
      </div>

      <div class="col-md-4" *ngIf="person.type == 2">
        <div class="form-group mg-md-l--1">
          <label class="form-control-label">REGON:</label>
          <input class="form-control" type="text" name="regon" placeholder="Regon" [(ngModel)]="person.regon">
        </div>
      </div>

      <div class="col-md-4" *ngIf="person.type == 2">
        <div class="form-group mg-md-l--1">
          <label class="form-control-label">NIP:</label>
          <input class="form-control" type="text" name="nip" placeholder="Nip" [(ngModel)]="person.nip">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group bd-t-0-force">
          <label class="form-control-label">Adres e-mail:</label>
          <input class="form-control" type="text" name="email" placeholder="Adres e-mail" [(ngModel)]="person.email">
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group bd-t-0-force mg-md-l--1">
          <label class="form-control-label">Kod pocztowy:</label>
          <input class="form-control" type="text" name="postcode" placeholder="Kod pocztowy" [(ngModel)]="person.postCode">
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group bd-t-0-force mg-md-l--1">
          <label class="form-control-label">Miasto:</label>
          <input class="form-control" type="text" name="city" placeholder="Miasto" [(ngModel)]="person.city">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group bd-t-0-force">
          <label class="form-control-label">Ulica:</label>
          <input class="form-control" type="text" name="street" placeholder="Ulica" [(ngModel)]="person.street">
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group bd-t-0-force mg-md-l--1">
          <label class="form-control-label">Nr domu:</label>
          <input class="form-control" type="text" name="housenumber" placeholder="Numer domu" [(ngModel)]="person.house">
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group bd-t-0-force mg-md-l--1">
          <label class="form-control-label">Nr mieszkania:</label>
          <input class="form-control" type="text" name="flatnumber" placeholder="Numer mieszkania" [(ngModel)]="person.flat">
        </div>
      </div>
    </div>
  </div>
</div>