<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Przydziel przelew do faktury</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-invoices-list-core (selectedEvent)="onRowSelect($event)"></app-invoices-list-core>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close()" [disabled]="selectedInvoice == null">Wybierz fakturę</button>
  </div>
</ng-template>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Dane przelewu</h5>
    <div class="row">
      <div class="col-md-5">
        <label class="section-label-sm tx-gray-500">Nadawca</label>
        <div class="billed-to">
          <h6 class="tx-gray-800">{{transfer.senderName}}</h6>
          <p>
            {{transfer.senderStreet}}<br />
            {{transfer.senderCity}}<br />
          </p>
        </div>
      </div>

      <div class="col-md-7">
        <label class="section-label-sm tx-gray-500">Informacje o przelewie</label>
        <p class="invoice-info-row">
          <span class="font-weight-bold">Kwota</span>
          <span class="text-success font-weight-bold">{{transfer.value | number:'1.2'}}</span>
        </p>
        <p class="invoice-info-row">
          <span>Tytuł</span>
          <span>{{transfer.title}}</span>
        </p>
        <p class="invoice-info-row">
          <span>Data:</span>
          <span>{{transfer.date | date:'yyyy-MM-dd'}}</span>
        </p>
        <p class="invoice-info-row">
          <span>Numer nadawcy</span>
          <span>{{transfer.senderAccountNumber}}</span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Faktury przelewu</h5>

    <div class="table-responsive mg-t-40" *ngIf="transfer.hasInvoice">
      <table class="table table-invoice">
        <thead>
          <tr>
            <th>Numer</th>
            <th style="width: 165px;" class="text-center">Daty</th>
            <th style="width:200px;" class="text-center">Dane klienta</th>
            <th style="width:200px;" class="text-center">Adres klienta</th>
            <th style="width: 175px" class="text-right">Kwoty</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of transfer.invoices" style="font-size:0.75rem;">
              <td>
                <a [routerLink]="['/finance/invoice/', invoice.id]">
                    {{invoice.number}}
                </a>                
              </td>
              <td>
                <div class="row no-gutters">
                  <div class="col font-weight-bold">
                    Faktury:
                  </div>
                  <div class="col text-right">
                    {{invoice.invoiceDate | date:'yyyy-MM-dd'}}
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col font-weight-bold">
                    Sprzedaży:
                  </div>
                  <div class="col text-right">
                    {{invoice.saleDate | date:'yyyy-MM-dd'}}
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col font-weight-bold">
                    Płatności:
                  </div>
                  <div class="col text-right">
                    {{invoice.paymentDeadlineDate | date:'yyyy-MM-dd'}}
                  </div>
                </div>
              </td>
              <td class="text-center">
                <strong>{{invoice.purchaser.nameDisplay}}</strong><br />
                {{invoice.purchaser.email}}<br />
              </td>
              <td class="text-center">
                {{invoice.purchaser.addressDisplay}}<br />
                {{invoice.purchaser.postCode}} {{invoice.purchaser.postCity}}<br />
              </td>
              <td>
                <div class="row no-gutters">
                  <div class="col font-weight-bold">
                    Netto:
                  </div>
                  <div class="col text-right">
                    {{invoice.net | number:'1.2'}}
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col font-weight-bold">
                    Vat:
                  </div>
                  <div class="col text-right">
                    {{invoice.vat | number:'1.2'}}
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col font-weight-bold">
                    Brutto:
                  </div>
                  <div class="col text-right">
                    {{invoice.gross | number:'1.2'}}
                  </div>
                </div>
              </td>
            </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="!transfer.hasInvoice">
      <p class="alert alert-danger text-center">
        <strong>Do tego przelewu nie została zaindeksowana żadna faktura!</strong><br /> 
        Użyj opcji poniżej, aby przydzielić ją ręcznie...
      </p>
      <button class="btn btn-block btn-primary" (click)="openInvoicesDialog(content)">Przydziel fakturę</button>
    </div>
  </div>
</div>

<div class="card">
    <div class="card-body">
      <h5 class="card-title">Logi indeksowania przelewu</h5>
  
      <button class="btn btn-block btn-secondary" (click)="showLogs = true" *ngIf="!showLogs">
        Pokaż logi indeksowania przelewu
      </button>

      <div class="table-responsive" *ngIf="showLogs">
        <table class="table table-invoice">
          <thead>
            <tr>
              <th class="wd-20p">Data</th>
              <th>Wiadomość</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of transfer.logs">
              <td>
                {{log.date | date:'yyyy-MM-dd HH:mm:ss'}}
              </td>
              <td>
                {{log.message}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>