<div class="signin-wrapper">
  <div class="signin-box">
    <form (submit)="signIn()">
      <h2 class="slim-logo"><a href="https://www.multi-net.eu/">multi-net.eu</a></h2>
      <h2 class="signin-title-primary">Witaj ponownie!</h2>
      <h3 class="signin-title-secondary">Zaloguj się do panelu.</h3>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Wpisz twój adres e-mail" name="username" [(ngModel)]="username">
      </div>
      <div class="form-group mg-b-50">
        <input type="password" class="form-control" placeholder="Wpisz swoje hasło" name="password" [(ngModel)]="password">
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-signin">Zaloguj się</button>
    </form>
    <p class="mg-b-0">Zapomniałeś swojego hasła? <a href="page-signup.html">Przypomnij je</a></p>
  </div>
</div>
