<div class="section-wrapper">
  <p-table [columns]="cols" [value]="logs" [paginator]="true" selectionMode="single" [(selection)]="selectedLog"
    (onRowSelect)="onRowSelect($event)" [lazy]="true" [totalRecords]="totalItems" [rows]="10" (onLazyLoad)="getLogs($event)">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width != null ? col.width + 'px' : 'auto'">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td>
          Logi importu faktur
        </td>
        <td class="text-center" >
          {{rowData['date'] | date:'yyyy-MM-dd hh:mm:ss'}}
        </td>
        <td class="text-center" >
          {{rowData['transfersCount']}}
        </td>
        <td class="text-center" style="font-size: 1.5rem">
          <i *ngIf="rowData['isSuccessful']" class="ion-md-checkmark-circle-outline text-success"></i>
          <i *ngIf="!rowData['isSuccessful']" class="ion-md-close-circle-outline text-danger"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
