@import 'slim/bootstrap/variables';
@import 'node_modules/bootstrap/scss/variables';

.slim-navbar {
  &.slim-navbar-sub {
    background-color: transparent;
    border-bottom: 0;
    padding-top: 0;
  }

  button.nav-link {
    width: 100%;

    &:hover {
      cursor: pointer;
    }

    &.nav-link-danger {
      background-color: red;
    }
  }
}

.card {
  .card-header {
    .nav.nav-tabs.card-header-tabs {
      .nav-item {
        button.nav-link {
          background-color: transparent;
          transition: all 0.2s ease-in-out;
          color: $blue;
          padding: 0 1rem;
          outline-style: none;
          box-shadow: none;

          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
            cursor: pointer;
          }

          &.active {
            background-color: $white;
            color: $gray-700;
            cursor: default;
          }

          .icon {
            vertical-align: middle;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}

.modal-lg {
  @include make-container-max-widths();
}