@import 'slim/bootstrap/variables';

.ui-table{
    border: 0;

    .ui-table-caption{
        border: 0;
        padding: 0;

        .input-group {
            .input-group-text{
                font-size: 1.2rem;
            }
        }
    }

    .ui-table-loading{
        background-color: #fff;
    }

    .ui-widget-overlay {
        opacity: 0.5;
    }

    .ui-table-wrapper{
        border:1px solid $gray-300; 
        
        .ui-table-thead{
            background-color: $table-border-color;
            color: $gray-800;
            text-transform: uppercase;
            font-size: 0.75rem;

            tr{
                th{
                    padding: 10px;
                }
            }

            .ui-state-highlight{
                color: $blue;
                background-color: $table-border-color;

                .ui-table-sort-icon{
                    color: $blue;
                }
            }

            .ui-table-sort-icon{
                color: $gray-800;
            }

            .filters {
                input[type=text] {
                    background-color: lighten($table-border-color, 5%);
                }
            }
        }

        .ui-table-tbody{
            tr{                
                border-bottom:1px solid $gray-300; 

                &:nth-child(2n+1) {
                    background-color: $gray-100;
                }

                &:last-child {
                    border-bottom: 0;
                }

                td{
                    padding: 0.75rem;
                }

                &:hover{
                    background-color: $gray-200;
                    cursor: pointer;
                }

                &.ui-state-highlight{
                    background-color: $blue;
                }


            }
        }
    }

    .ui-paginator.ui-widget-header{
        border: 0;
        margin-top:15px;
        text-align:right;

        a{
            display: inline;
        }

        .ui-paginator-page{
            background-color: $gray-200;
            padding: 0.5em 1em;

            &.ui-state-active{
                background-color: $blue;
            }
        }

        
    }
}