<div class="filters mb-3">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <button class="nav-link" [ngClass]="{'active show': currentTab == 1}" data-toggle="tab" (click)="currentTab = 1">Filtry
            podstawowe</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" [ngClass]="{'active show': currentTab == 2}" data-toggle="tab" (click)="currentTab = 2">Kontrahent</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" [ngClass]="{'active show': currentTab == 3}" data-toggle="tab" (click)="currentTab = 3">Okres
            czasowy</button>
        </li>
      </ul>
    </div>
    <div class="card-body pb-0">
      <div class="tab-content">
        <div class="tab-pane" [ngClass]="{'active show': currentTab == 1}">
          <div class="form-row">
            <div class="form-group col">
              <label>Numer faktury</label>
              <input type="text" class="form-control form-control-sm" placeholder="Numer faktury" name="number"
                [(ngModel)]="getOptions.number" (ngModelChange)="applyFilters()">
            </div>
            <div class="form-group col">
              <label>Status</label>
              <select class="form-control form-control-sm" name="isPaid" [(ngModel)]="getOptions.isPaid"
                (ngModelChange)="applyFilters()">
                <option [ngValue]="null">Wszystkie</option>
                <option [ngValue]="true">Zapłacone</option>
                <option [ngValue]="false">Niezapłacone</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label>Kwota netto</label>
              <input type="text" class="form-control form-control-sm" placeholder="Kwota netto" name="net" [(ngModel)]="getOptions.net"
                (ngModelChange)="applyFilters()">
            </div>
            <div class="form-group col">
              <label>Kwota vat</label>
              <input type="text" class="form-control form-control-sm" placeholder="Kwota vat" name="vat" [(ngModel)]="getOptions.vat"
                (ngModelChange)="applyFilters()">
            </div>
            <div class="form-group col">
              <label>Kwota brutto</label>
              <input type="text" class="form-control form-control-sm" placeholder="Kwota brutto" name="gross"
                [(ngModel)]="getOptions.gross" (ngModelChange)="applyFilters()">
            </div>
          </div>
        </div>
        <div class="tab-pane" [ngClass]="{'active show': currentTab == 2}">
          <div class="form-row">
            <div class="form-group col">
              <label>Typ</label>
              <select class="form-control form-control-sm" [(ngModel)]="getOptions.type" (ngModelChange)="applyFilters()">
                <option [ngValue]="1">Osoba fizyczna</option>
                <option [ngValue]="2">Firma</option>
              </select>
            </div>
            <div class="form-group col" *ngIf="getOptions.type == 1">
              <label>Numer PESEL</label>
              <input type="text" class="form-control form-control-sm" placeholder="Numer PESEL" name="pesel"
                [(ngModel)]="getOptions.pesel" (ngModelChange)="applyFilters()">
            </div>
            <div class="form-group col" *ngIf="getOptions.type == 2">
              <label>Numer REGON</label>
              <input type="text" class="form-control form-control-sm" placeholder="Numer Regon" name="regon"
                [(ngModel)]="getOptions.regon" (ngModelChange)="applyFilters()">
            </div>
            <div class="form-group col">
              <label>Numer NIP</label>
              <input type="text" class="form-control form-control-sm" placeholder="Numer NIP" name="nip" [(ngModel)]="getOptions.nip"
                (ngModelChange)="applyFilters()">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label>Nazwa (imię/nazwisko/nazwa firmy)</label>
              <input type="text" class="form-control form-control-sm" placeholder="Nazwa" name="name" [(ngModel)]="getOptions.name"
                (ngModelChange)="applyFilters()">
            </div>
            <div class="form-group col">
              <label>Numer telefonu</label>
              <input type="text" class="form-control form-control-sm" placeholder="Numer telefonu" name="phone"
                [(ngModel)]="getOptions.phone" (ngModelChange)="applyFilters()">
            </div>
            <div class="form-group col">
              <label>Adres</label>
              <input type="text" class="form-control form-control-sm" placeholder="Adres" name="address" [(ngModel)]="getOptions.address"
                (ngModelChange)="applyFilters()">
            </div>
          </div>
        </div>
        <div class="tab-pane" [ngClass]="{'active show': currentTab == 3}">
          <div class="form-row">
            <div class="form-group col">
              <label>Data faktury</label>
              <div class="row no-gutters">
                <div class="col">
                  <div class="input-group">
                    <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="dates.invoiceDateFrom"
                      ngbDatepicker #invoiceDateFrom="ngbDatepicker" (ngModelChange)="applyFilters();" [maxDate]="dates.invoiceDateTo">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-primary" (click)="invoiceDateFrom.toggle()" type="button">
                        <i class="icon ion-md-calendar text-default"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="input-group">
                    <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="dates.invoiceDateTo"
                      ngbDatepicker #invoiceDateTo="ngbDatepicker" (ngModelChange)="applyFilters()" [minDate]="dates.invoiceDateFrom">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-primary" (click)="invoiceDateTo.toggle()" type="button">
                        <i class="icon ion-md-calendar text-default"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col">
              <label>Data sprzedaży</label>
              <div class="row no-gutters">
                <div class="col">
                  <div class="input-group">
                    <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="dates.saleDateFrom"
                      ngbDatepicker #saleDateFrom="ngbDatepicker" (ngModelChange)="applyFilters()" [maxDate]="dates.saleDateTo">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-primary" (click)="saleDateFrom.toggle()" type="button">
                        <i class="icon ion-md-calendar text-default"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="input-group">
                    <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="dates.saleDateTo"
                      ngbDatepicker #saleDateTo="ngbDatepicker" (ngModelChange)="applyFilters()" [minDate]="dates.saleDateFrom">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-primary" (click)="saleDateTo.toggle()" type="button">
                        <i class="icon ion-md-calendar text-default"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col">
              <label>Data płatności</label>
              <div class="row no-gutters">
                <div class="col">
                  <div class="input-group">
                    <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="dates.paymentDeadlineDateFrom"
                      ngbDatepicker #paymentDeadlineDateFrom="ngbDatepicker" (ngModelChange)="applyFilters()" [maxDate]="dates.paymentDeadlineDateTo">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-primary" (click)="paymentDeadlineDateFrom.toggle()" type="button">
                        <i class="icon ion-md-calendar text-default"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="input-group">
                    <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="dates.paymentDeadlineDateTo"
                      ngbDatepicker #paymentDeadlineDateTo="ngbDatepicker" (ngModelChange)="applyFilters()" [minDate]="dates.paymentDeadlineDateFrom">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-primary" (click)="paymentDeadlineDateTo.toggle()" type="button">
                        <i class="icon ion-md-calendar text-default"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-table [columns]="cols" [value]="invoices" [paginator]="true" selectionMode="single" [(selection)]="selectedInvoice"
  (onRowSelect)="onRowSelect($event)" [lazy]="true" [totalRecords]="totalItems" [rows]="10" (onLazyLoad)="getInvoices($event)"
  [loading]="loading">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [class]="col.class" [pSortableColumn]="col.field" [style.width]="col.width != null ? col.width + 'px' : 'auto'">
        {{col.header}}
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData" style="font-size:0.75rem;">
      <td>
        {{rowData.number}}
      </td>
      <td>
        <div class="row no-gutters">
          <div class="col font-weight-bold">
            Faktury:
          </div>
          <div class="col text-right">
            {{rowData.invoiceDate | date:'yyyy-MM-dd'}}
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col font-weight-bold">
            Sprzedaży:
          </div>
          <div class="col text-right">
            {{rowData.saleDate | date:'yyyy-MM-dd'}}
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col font-weight-bold">
            Płatności:
          </div>
          <div class="col text-right">
            {{rowData.paymentDeadlineDate | date:'yyyy-MM-dd'}}
          </div>
        </div>
      </td>
      <td class="text-center">
        <strong>{{rowData.purchaser.nameDisplay}}</strong><br />
        {{rowData.purchaser.email}}<br />
      </td>
      <td class="text-center">
        {{rowData.purchaser.addressDisplay}}<br />
        {{rowData.purchaser.postCode}} {{rowData.purchaser.postCity}}<br />
      </td>
      <td>
        <div class="row no-gutters">
          <div class="col font-weight-bold">
            Netto:
          </div>
          <div class="col text-right">
            {{rowData.net | number:'1.2'}}
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col font-weight-bold">
            Vat:
          </div>
          <div class="col text-right">
            {{rowData.vat | number:'1.2'}}
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col font-weight-bold">
            Brutto:
          </div>
          <div class="col text-right">
            {{rowData.gross | number:'1.2'}}
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
