<app-header></app-header>
<app-navbar></app-navbar>

<div class="slim-mainpanel">
  <div class="container">
    <app-breadcrumb></app-breadcrumb>
    <router-outlet></router-outlet>
  </div>
</div>

<app-footer></app-footer>