<div class="report-summary-header mt-0">
  <div>
    <h4 class="tx-inverse mg-b-3">Podsumowanie miesięczne</h4>
    <p class="mg-b-0"><i class="icon ion-calendar mg-r-3"></i> Podsumowanie fakturowania za dany miesiąc</p>
  </div>
  <div>
    <select class="form-control mr-1" [ngModel]="currentMonth" (ngModelChange)="loadInvoicesSummary()">
      <option *ngFor="let month of months" [ngValue]="month.value">{{month.key}}</option>
    </select>
    <select class="form-control mr-1" [ngModel]="currentYear" (ngModelChange)="loadInvoicesSummary()">
      <option *ngFor="let year of years" [ngValue]="year.value">{{year.key}}</option>
    </select>
    <a routerLink="/finance/invoices" class="btn btn-secondary">Pokaż więcej</a>
  </div>
</div>

<div class="card card-dash-one mg-t-20">
  <div class="row no-gutters">

    <div class="col-lg-3">
      <i class="icon ion-md-happy"></i>
      <div class="dash-content">
        <label>Zapłaconych</label>
        <h2>{{invoicesSum.paidCount}}</h2>
      </div>
    </div>

    <div class="col-lg-3">
      <i class="icon ion-md-add-circle-outline"></i>
      <div class="dash-content">
        <label>Uzyskano</label>
        <h2 [ngClass]="{'tx-success': invoicesSum.noPaidGross > 0}">{{invoicesSum.paidGross}}</h2>
      </div>
    </div>

    <div class="col-lg-3">
      <i class="icon ion-md-sad"></i>
      <div class="dash-content">
        <label>Niezapłaconych</label>
        <h2>{{invoicesSum.noPaidCount}}</h2>
      </div>
    </div>
    <div class="col-lg-3">
      <i class="icon ion-md-remove-circle-outline"></i>
      <div class="dash-content">
        <label>Brakuje</label>
        <h2 [ngClass]="{'tx-danger': invoicesSum.noPaidGross > 0}" class="tx-danger">{{invoicesSum.noPaidGross}}</h2>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-lg-4">
    <div class="card card-info">
      <div class="card-body pd-40">
        <div class="d-flex justify-content-center mg-b-30">
          <img src="../img/icon1.svg" class="wd-100" alt="">
        </div>
        <h5 class="tx-inverse mg-b-20">Safe &amp; Secure</h5>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia. Even the
          all-powerful Pointing has no control about the blind texts.</p>
        <a href="" class="btn btn-primary btn-block">Getting Started</a>
      </div><!-- card -->
    </div><!-- card -->
  </div>

  <div class="col-lg-4">
    <div class="card card-info">
      <div class="card-body pd-40">
        <div class="d-flex justify-content-center mg-b-30">
          <img src="../img/icon1.svg" class="wd-100" alt="">
        </div>
        <h5 class="tx-inverse mg-b-20">Safe &amp; Secure</h5>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia. Even the
          all-powerful Pointing has no control about the blind texts.</p>
        <a href="" class="btn btn-primary btn-block">Getting Started</a>
      </div><!-- card -->
    </div><!-- card -->
  </div>

  <div class="col-lg-4">
    <div class="card card-info">
      <div class="card-body pd-40">
        <div class="d-flex justify-content-center mg-b-30">
          <img src="../img/icon1.svg" class="wd-100" alt="">
        </div>
        <h5 class="tx-inverse mg-b-20">Safe &amp; Secure</h5>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia. Even the
          all-powerful Pointing has no control about the blind texts.</p>
        <a href="" class="btn btn-primary btn-block">Getting Started</a>
      </div><!-- card -->
    </div><!-- card -->
  </div>
</div>
