<div class="slim-pageheader">
  <ol class="breadcrumb slim-breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/']">Strona Główna</a>
    </li>
    <li *ngFor="let b of breadcrumbs; let last = last" class="breadcrumb-item" [ngClass]="{'active': last}">
      <a [routerLink]="b.href">{{b.label}}</a>
    </li>
  </ol>
  <h6 class="slim-pagetitle">{{title}}</h6>
</div>
