<app-invoice-edit-core-person 
  [(person)]="invoice.issuer" 
  [name]="'sprzedawca'">
</app-invoice-edit-core-person>

<div class="section-wrapper mb-4">
  <label class="section-title">
    Klient
  </label>

  <div class="row">
    <div class="col">
        <p-autoComplete 
          [(ngModel)]="selectedClient" 
          [suggestions]="clients" 
          (completeMethod)="getClients($event)" 
          [forceSelection]="true" 
          field="person.nameDisplay" 
          [style]="{'width':'100%'}" 
          delay="1000"
          [inputStyle]="{'width':'100%'}"
          (onSelect)="onClientSelect()">
        </p-autoComplete>
    </div>
    <div class="col" style="padding-top: 6px">
      <span *ngIf="selectedClient == null" class="text-warning">Nie wybrano klienta</span>
      <span *ngIf="selectedClient != null"><strong>Klient podpięty do faktury:</strong> ({{selectedClient.id}}) {{selectedClient.person.nameDisplay}}</span>
    </div>
    <div class="col text-right">
      <button *ngIf="selectedClient != null" (click)="unpinClient()" class="btn btn-warning">Odepnij klienta od faktury</button>
    </div>
  </div>  
</div>

<app-invoice-edit-core-person 
  [(person)]="invoice.purchaser" 
  [name]="'nabywca'">
</app-invoice-edit-core-person>

<div class="section-wrapper mb-4">
  <label class="section-title">
    Faktura
  </label>

  <div class="form-layout form-layout-2">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-control-label">Data faktury</label>
          <div class="input-group">
            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="invoiceDateName" [(ngModel)]="invoiceDate"
              ngbDatepicker #invoiceDateComponent="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-sm btn-primary" (click)="invoiceDateComponent.toggle()" type="button">
                <i class="icon ion-md-calendar text-default"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mg-t--1 mg-md-t-0">
        <div class="form-group mg-md-l--1">
          <label class="form-control-label">Data sprzedaży</label>
          <div class="input-group">
            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="saleDateName" [(ngModel)]="saleDate"
              ngbDatepicker #saleDateComponent="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-sm btn-primary" (click)="saleDateComponent.toggle()" type="button">
                <i class="icon ion-md-calendar text-default"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mg-t--1 mg-md-t-0">
        <div class="form-group mg-md-l--1">
          <label class="form-control-label">Data płatności</label>
          <div class="input-group">
            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="paymentDateName" [(ngModel)]="paymentDate"
              ngbDatepicker #paymentDateComponent="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-sm btn-primary" (click)="paymentDateComponent.toggle()" type="button">
                <i class="icon ion-md-calendar text-default"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-wrapper">
  <label class="section-title">
    Towary i usługi
  </label>

  <div class="row no-gutters">
    <div class="col-lg-5">
      <div class="form-group">
        <label class="form-control-label">Nazwa przedmiotu</label>
        <input class="form-control" type="text" name="name" placeholder="Nazwa przedmiotu" [(ngModel)]="invoiceItem.name">
      </div>
    </div>
    <div class="col-lg-1">
      <div class="form-group">
        <label class="form-control-label">Ilość</label>
        <input class="form-control" type="text" name="quantity" placeholder="Ilość" [(ngModel)]="invoiceItem.quantity">
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label class="form-control-label">Cena jedn.</label>
        <input class="form-control" type="text" name="netUnitPrice" placeholder="Cena jednostkowa" [(ngModel)]="invoiceItem.netUnitPrice">
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label class="form-control-label">Stawka vat</label>
        <select class="form-control" [(ngModel)]="invoice.vatRateId">
          <option *ngFor="let vatRate of vatRates" [ngValue]="vatRate.id">{{vatRate.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-2" style="padding-top: 27px">
      <button class="btn btn-success mx-auto d-block" (click)="addPosition()">Dodaj pozycję</button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nazwa</th>
        <th class="text-center" style="width:75px;">Ilość</th>
        <th class="text-right" style="width:125px;">Cena jedn.</th>
        <th class="text-center" style="width:100px;">Stawka</th>
        <th class="text-right" style="width:125px;">Netto</th>
        <th class="text-right" style="width:125px;">VAT</th>
        <th class="text-right" style="width:125px;">Brutto</th>
        <th class="text-right" style="width:50px;">Opcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of invoice.invoiceItems">
        <td class="align-middle">{{item.name}}</td>
        <td class="align-middle text-center">{{item.quantity}}</td>
        <td class="align-middle text-right">{{item.netUnitPrice | number:'1.2'}}</td>
        <td class="align-middle text-center">{{item.vatRate.name}}</td>
        <td class="align-middle text-right">{{item.net | number:'1.2'}}</td>
        <td class="align-middle text-right">{{item.vat | number:'1.2'}}</td>
        <td class="align-middle text-right">{{item.gross | number:'1.2'}}</td>
        <td class="text-right">
          <button class="btn btn-sm btn-danger" (click)="removePosition(item)">
            <i class="icon ion-md-close"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
